.numb{

	background-color: #330628;
	height: 270px;
	font-size:35px;
	width: 50px;
	line-height: 260px;
	text-align:center;
	color:#fdd700;
}

.n9{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:50px;
	margin-top: -270px;

}


.n10{
	background-color: #330628;     /* 1st 12 */
	width:215px;
	height: 50px;
	margin-left: 55px;
	margin-top: -50px;
	color:#fdd700;
	font-size: 30px;
	text-align: center;
}

.n11{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:270px;
	margin-top: -50px;

}


.n12{
	background-color: #330628;    /* 2st 12 */
	width:215px;
	height: 50px;
	margin-left: 275px;
	margin-top: -50px;
	color:#fdd700;
	font-size: 30px;
	text-align: center;
}

.n14{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:490px;
	margin-top: -50px;
}

.n15{
	background-color: #330628;    /* 3st 12 */
	width:215px;
	height: 50px;
	margin-left: 495px;
	margin-top: -50px;
	color:#fdd700;
	font-size: 30px;
	text-align: center;
}


.n16{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:710px;
	margin-top: -50px;
}


.n17{
	background-color: black;    /* race */
	width:50px;
	height: 50px;
	margin-left: 715px;
	margin-top: -50px;
	font-size: 20px;
	color:#fdd700;
	text-align: center;
	line-height: 45px;
}



.n19{
	background-color: #fdd700;
	width:5px;
	height: 55px;
	margin-left:50px;
	margin-top: 0px;
}

								/* verhnya ramka */


.n20{
	background-color: #fdd700;
	width:40px;
	height: 5px;
	margin-left:55px;
	margin-top: -55px;
}

.n21{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:95px;
	margin-top: -5px;
}


.n22{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:120px;
	margin-top: -5px;
}


.n23{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:150px;
	margin-top: -5px;
}

.n24{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:175px;
	margin-top: -5px;
}

.n25{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:205px;
	margin-top: -5px;
}

.n26{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:230px;
	margin-top: -5px;
}

.n27{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:260px;
	margin-top: -5px;
}

.n28{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:285px;
	margin-top: -5px;
}


.n29{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:315px;
	margin-top: -5px;
}

.n30{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:340px;
	margin-top: -5px;
}

.n31{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:370px;
	margin-top: -5px;
}

.n32{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:395px;
	margin-top: -5px;
}


.n33{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:425px;
	margin-top: -5px;
}

.n34{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:450px;
	margin-top: -5px;
}

.n34_1{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:480px;
	margin-top: -5px;
}

.n34_2{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:505px;
	margin-top: -5px;
}

.n34_3{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:535px;
	margin-top: -5px;
}

.n34_4{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:560px;
	margin-top: -5px;
}

.n34_5{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:590px;
	margin-top: -5px;
}

.n34_6{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:615px;
	margin-top: -5px;
}

.n34_7{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:645px;
	margin-top: -5px;
}

.n34_8{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:670px;
	margin-top: -5px;
}

.n34_9{
	background-color: #fdd700;
	width:65px;
	height: 5px;
	margin-left:700px;
	margin-top: -5px;
}


							/* verhnya ramka */

							/* nachalo 1 ryada */

.n37{
	background-color: #F90B00; /* 3 */
	width:50px;
	height: 50px;
	margin-left:55px;
	margin-top: 0px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n38{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:105px;
	margin-top: -50px;
}

.n39{
	background-color: black; /* 6 */
	width:50px;
	height: 50px;
	margin-left:110px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n40{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:160px;
	margin-top: -50px;
}

.n41{
	background-color: #F90B00; /* 9 */
	width:50px;
	height: 50px;
	margin-left:165px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n42{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:215px;
	margin-top: -50px;
}

.n43{
	background-color: black; /* 12 */  /*  */
	width:50px;
	height: 50px;
	margin-left:220px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n44{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:270px;
	margin-top: -50px;
}

.n45{
	background-color: black; /* 15 */
	width:50px;
	height: 50px;
	margin-left:275px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n46{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:325px;
	margin-top: -50px;
}

.n47{
	background-color: #F90B00; /* 18 */
	width:50px;
	height: 50px;
	margin-left:330px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n48{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:380px;
	margin-top: -50px;
}

.n49{
	background-color: #F90B00; /* 21 */
	width:50px;
	height: 50px;
	margin-left:385px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n50{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:435px;
	margin-top: -50px;
}

.n51{
	background-color: black; /* 24 */
	width:50px;
	height: 50px;
	margin-left:440px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n52{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:490px;
	margin-top: -50px;

}

.n53{
	background-color: #F90B00; /* 27 */
	width:50px;
	height: 50px;
	margin-left:495px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n54{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:545px;
	margin-top: -50px;
}

.n55{
	background-color: #F90B00; /* 30 */
	width:50px;
	height: 50px;
	margin-left:550px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n56{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:600px;
	margin-top: -50px;
}

.n57{
	background-color: black; /* 33 */
	width:50px;
	height: 50px;
	margin-left:605px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n58{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:655px;
	margin-top: -50px;
}

.n59{
	background-color: black; /* 36 */
	width:50px;
	height: 50px;
	margin-left:660px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n60{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:710px;
	margin-top: -50px;
}

.n61{
	background-color: #330628; /* 2 to 1 */
	width:50px;
	height: 50px;
	margin-left:715px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-weight: bold;
	line-height: 50px;

}



							/* kones 1 ryada */


							/* 2 ryada ramka*/

.n63{
	background-color: #fdd700;
	width:40px;
	height: 5px;
	margin-left:55px;
	margin-top: 0px;
}

.n64{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:95px;
	margin-top: -5px;
}

.n65{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:120px;
	margin-top: -5px;
}


.n66{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:150px;
	margin-top: -5px;
}

.n67{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:175px;
	margin-top: -5px;
}

.n68{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:205px;
	margin-top: -5px;
}

.n69{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:230px;
	margin-top: -5px;
}

.n70{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:260px;
	margin-top: -5px;
}

.n71{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:285px;
	margin-top: -5px;
}


.n72{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:315px;
	margin-top: -5px;
}

.n73{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:340px;
	margin-top: -5px;
}

.n74{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:370px;
	margin-top: -5px;
}

.n75{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:395px;
	margin-top: -5px;
}


.n76{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:425px;
	margin-top: -5px;
}
.n77{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:450px;
	margin-top: -5px;
}

.n77_1{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:480px;
	margin-top: -5px;
}

.n77_2{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:505px;
	margin-top: -5px;
}

.n77_3{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:535px;
	margin-top: -5px;
}

.n77_4{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:560px;
	margin-top: -5px;
}

.n77_5{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:590px;
	margin-top: -5px;
}

.n77_6{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:615px;
	margin-top: -5px;
}

.n77_7{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:645px;
	margin-top: -5px;
}

.n77_8{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:670px;
	margin-top: -5px;
}

.n77_9{
	background-color: #fdd700;
	width:65px;
	height: 5px;
	margin-left:700px;
	margin-top: -5px;
}


							/* 2 ryada ramka */






							/* nachalo 2 ryada */

.n78{
	background-color: #fdd700;
	width:5px;
	height: 55px;
	margin-left:50px;
	margin-top: -5px;
}

.n79{
	background-color: black; /* 2 */
	width:50px;
	height: 50px;
	margin-left:55px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n80{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:105px;
	margin-top: -50px;
}

.n81{
	background-color: #F90B00; /* 5 */
	width:50px;
	height: 50px;
	margin-left:110px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n82{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:160px;
	margin-top: -50px;
}

.n83{
	background-color: black; /* 8 */
	width:50px;
	height: 50px;
	margin-left:165px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n84{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:215px;
	margin-top: -50px;
}

.n85{
	background-color: black; /* 11 */
	width:50px;
	height: 50px;
	margin-left:220px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n86{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:270px;
	margin-top: -50px;
}

.n87{
	background-color: #F90B00; /* 14 */
	width:50px;
	height: 50px;
	margin-left:275px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n88{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:325px;
	margin-top: -50px;
}

.n89{
	background-color: black; /* 17 */
	width:50px;
	height: 50px;
	margin-left:330px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n90{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:380px;
	margin-top: -50px;
}

.n91{
	background-color: black; /* 20 */
	width:50px;
	height: 50px;
	margin-left:385px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n92{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:435px;
	margin-top: -50px;
}

.n93{
	background-color: #F90B00; /* 23 */
	width:50px;
	height: 50px;
	margin-left:440px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n94{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:490px;
	margin-top: -50px;
}

.n95{
	background-color: black; /* 26 */
	width:50px;
	height: 50px;
	margin-left:495px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n96{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:545px;
	margin-top: -50px;
}

.n97{
	background-color: black; /* 29 */
	width:50px;
	height: 50px;
	margin-left:550px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n98{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:600px;
	margin-top: -50px;
}

.n99{
	background-color: #F90B00; /* 32 */
	width:50px;
	height: 50px;
	margin-left:605px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n100{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:655px;
	margin-top: -50px;
}

.n101{
	background-color: black; /* 35 */
	width:50px;
	height: 50px;
	margin-left:660px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n102{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:710px;
	margin-top: -50px;
}

.n103{
	background-color: #330628; /* 2 to 1 */
	width:50px;
	height: 50px;
	margin-left:715px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-weight: bold;
	line-height: 50px;
}



							/* 3 ryada ramka*/


.n105{
	background-color: #fdd700;
	width:40px;
	height: 5px;
	margin-left:55px;
	margin-top: 0px;
}

.n106{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:95px;
	margin-top: -5px;
}

.n107{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:120px;
	margin-top: -5px;
}


.n108{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:150px;
	margin-top: -5px;
}

.n109{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:175px;
	margin-top: -5px;
}

.n110{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:205px;
	margin-top: -5px;
}

.n111{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:230px;
	margin-top: -5px;
}

.n112{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:260px;
	margin-top: -5px;
}

.n113{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:285px;
	margin-top: -5px;
}


.n114{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:315px;
	margin-top: -5px;
}

.n115{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:340px;
	margin-top: -5px;
}

.n116{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:370px;
	margin-top: -5px;
}

.n117{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:395px;
	margin-top: -5px;
}


.n118{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:425px;
	margin-top: -5px;
}
.n119{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:450px;
	margin-top: -5px;
}

.n119_1{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:480px;
	margin-top: -5px;
}

.n119_2{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:505px;
	margin-top: -5px;
}

.n119_3{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:535px;
	margin-top: -5px;
}

.n119_4{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:560px;
	margin-top: -5px;
}

.n119_5{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:590px;
	margin-top: -5px;
}

.n119_6{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:615px;
	margin-top: -5px;
}

.n119_7{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:645px;
	margin-top: -5px;
}

.n119_8{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:670px;
	margin-top: -5px;
}

.n119_9{
	background-color: #fdd700;
	width:65px;
	height: 5px;
	margin-left:700px;
	margin-top: -5px;
}



							/* 3 ryada ramka */
							


							/* nachalo 3 ryada */

.n120{
	background-color: #fdd700;
	width:5px;
	height: 55px;
	margin-left:50px;
	margin-top: -5px;
}

.n121{
	background-color: #F90B00; /* 1 */
	width:50px;
	height: 50px;
	margin-left:55px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n122{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:105px;
	margin-top: -50px;
}

.n123{
	background-color: black; /* 4 */
	width:50px;
	height: 50px;
	margin-left:110px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n124{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:160px;
	margin-top: -50px;
}

.n125{
	background-color: #F90B00; /* 7 */
	width:50px;
	height: 50px;
	margin-left:165px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n126{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:215px;
	margin-top: -50px;
}

.n127{
	background-color: black; /* 10 */
	width:50px;
	height: 50px;
	margin-left:220px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n128{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:270px;
	margin-top: -50px;
}

.n129{
	background-color: black; /* 13 */
	width:50px;
	height: 50px;
	margin-left:275px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n130{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:325px;
	margin-top: -50px;
}

.n131{
	background-color: #F90B00; /* 16 */
	width:50px;
	height: 50px;
	margin-left:330px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n132{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:380px;
	margin-top: -50px;
}

.n133{
	background-color: #F90B00; /* 19 */
	width:50px;
	height: 50px;
	margin-left:385px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n134{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:435px;
	margin-top: -50px;
}

.n135{
	background-color: black; /* 22 */
	width:50px;
	height: 50px;
	margin-left:440px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n136{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:490px;
	margin-top: -50px;
}

.n137{
	background-color: #F90B00; /* 25 */
	width:50px;
	height: 50px;
	margin-left:495px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n138{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:545px;
	margin-top: -50px;
}

.n139{
	background-color: black; /* 28 */
	width:50px;
	height: 50px;
	margin-left:550px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n140{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:600px;
	margin-top: -50px;
}

.n141{
	background-color: black; /* 31 */
	width:50px;
	height: 50px;
	margin-left:605px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n142{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:655px;
	margin-top: -50px;
}

.n143{
	background-color: #F90B00; /* 34 */
	width:50px;
	height: 50px;
	margin-left:660px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-size: 30px;
	line-height: 50px;
}

.n144{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:710px;
	margin-top: -50px;
}

.n145{
	background-color: #330628; /* 2 to 1 */
	width:50px;
	height: 50px;
	margin-left:715px;
	margin-top: -50px;
	color:#fdd700;
	text-align:center;
	font-weight: bold;
	line-height: 50px;
}



										/* 3 ryad */


							/* 4 ryada ramka*/


.n147{
	background-color: #fdd700;
	width:40px;
	height: 5px;
	margin-left:55px;
	margin-top: 0px;
}

.n148{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:95px;
	margin-top: -5px;
}

.n149{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:120px;
	margin-top: -5px;
}


.n150{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:150px;
	margin-top: -5px;
}

.n151{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:175px;
	margin-top: -5px;
}

.n152{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:205px;
	margin-top: -5px;
}

.n153{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:230px;
	margin-top: -5px;
}

.n154{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:260px;
	margin-top: -5px;
}

.n155{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:285px;
	margin-top: -5px;
}


.n156{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:315px;
	margin-top: -5px;
}

.n157{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:340px;
	margin-top: -5px;
}

.n158{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:370px;
	margin-top: -5px;
}

.n159{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:395px;
	margin-top: -5px;
}


.n160{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:425px;
	margin-top: -5px;
}
.n161{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:450px;
	margin-top: -5px;
}

.n161_1{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:480px;
	margin-top: -5px;
}

.n161_2{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:505px;
	margin-top: -5px;
}

.n161_3{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:535px;
	margin-top: -5px;
}

.n161_4{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:560px;
	margin-top: -5px;
}

.n161_5{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:590px;
	margin-top: -5px;
}

.n161_6{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:615px;
	margin-top: -5px;
}

.n161_7{
	background-color: #fdd700;
	width:25px;
	height: 5px;
	margin-left:645px;
	margin-top: -5px;
}

.n161_8{
	background-color: #fdd700;
	width:30px;
	height: 5px;
	margin-left:670px;
	margin-top: -5px;
}

.n161_9{
	background-color: #fdd700;
	width:65px;
	height: 5px;
	margin-left:700px;
	margin-top: -5px;
}



							/* 4 ryada ramka */



							/* nachalo 4 ryada */

.n162{
	background-color: #fdd700;
	width:5px;
	height: 55px;
	margin-left:50px;
	margin-top: -5px;
}

.n163{
	background-color: #330628; /* 1 to 18 */
	width:105px;
	height: 50px;
	margin-left:55px;
	margin-top: -50px;
	color:#fdd700;
	font-size: 30px;
	text-align: center;
}


.n166{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:160px;
	margin-top: -50px;
}

.n167{
	background-color: #330628; /* even */
	width:105px;
	height: 50px;
	margin-left:165px;
	margin-top: -50px;
	color:#fdd700;
	font-size: 30px;
	text-align: center;
}



.n170{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:270px;
	margin-top: -50px;
}

.n171{
	background-color: #330628; /* red romb */
	width:105px;
	height: 50px;
	margin-left:275px;
	margin-top: -50px;
	color:#fdd700;
}


.n174{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:380px;
	margin-top: -50px;
}

.n175{
	background-color: #330628; /* black romb */
	width:105px;
	height: 50px;
	margin-left:385px;
	margin-top: -50px;
	color:#fdd700;
}



.n178{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:490px;
	margin-top: -50px;
}

.n179{
	background-color: #330628; /*ODD */
	width:105px;
	height: 50px;
	margin-left:495px;
	margin-top: -50px;
	color:#fdd700;
	font-size: 30px;
	text-align: center;
}



.n182{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:600px;
	margin-top: -50px;
}

.n183{
	background-color: #330628; /* 19 to 36 */
	width:105px;
	height: 50px;
	margin-left:605px;
	margin-top: -50px;
	color:#fdd700;
	font-size: 25px;
	text-align: center;
	line-height: 50px;
	
}



.n186{
	background-color: #fdd700;
	width:5px;
	height: 50px;
	margin-left:710px;
	margin-top: -50px;
}

.n187{
	background-color: black; /* WHEEL */
	width:50px;
	height: 50px;
	margin-left:715px;
	margin-top: -50px;
	color:#fdd700;
	color:#fdd700;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
}
											/* 4 ryad */
												/* dop button orphans */


.ob4{
	
	margin-left: 80px;

}


.ob4-2{
	margin-left: 155px;
}

.n192{

	margin-top:5px;
	margin-left: 0px;
	width:150px;
	height: 40px;
	background-color: #330628;
	color:#fdd700;
	text-align:center;
	line-height: 35px;
	border:2px solid #9225D8;
	-webkit-border-radius: 5px ;
	        border-radius: 5px ;

}

.n193{

	margin-top:-40px;
	margin-left: 155px;
	width:150px;
	height: 40px;
	background-color: #330628;
	color:#fdd700;
	text-align:center;
	line-height: 35px;
	border:2px solid #9225D8;
	-webkit-border-radius: 5px ;
	        border-radius: 5px ;

}

.n194{

	margin-top:-40px;
	margin-left: 310px;
	width:150px;
	height: 40px;
	background-color: #330628;
	color:#fdd700;
	text-align:center;
	line-height: 35px;
	border:2px solid #9225D8;
	-webkit-border-radius: 5px ;
	        border-radius: 5px ;

}


.n195{

	margin-top:-40px;
	margin-left: 465px;
	width:150px;
	height: 40px;
	background-color: #330628;
	color:#fdd700;
	text-align:center;
	line-height: 35px;
	border:2px solid #9225D8;
	-webkit-border-radius: 5px ;
	        border-radius: 5px ;

}

.n188{

	margin-top:5px;
	width:100px;
	height: 40px;
	background-color: #330628;
	color:#fdd700;
	text-align:center;
	line-height: 35px;
	border:2px solid #9225D8;
	-webkit-border-radius: 5px ;
	        border-radius: 5px ;

}

.n189{

	margin-top:-40px;
	margin-left: 105px;
	width:150px;
	height: 40px;
	background-color: #330628;
	color:#fdd700;
	text-align:center;
	line-height: 35px;
	border:2px solid #9225D8;
	-webkit-border-radius: 5px ;
	        border-radius: 5px ;

}

.n190{

	margin-top:-40px;
	margin-left: 260px;
	width:100px;
	height: 40px;
	background-color: #330628;
	color:#fdd700;
	text-align:center;
	line-height: 35px;
	border:2px solid #9225D8;
	-webkit-border-radius: 5px ;
	        border-radius: 5px ;

}

.n191{

	margin-top:-40px;
	margin-left: 365px;
	width:100px;
	height: 40px;
	background-color: #330628;
	color:#fdd700;
	text-align:center;
	line-height: 35px;
	border:2px solid #9225D8;
	-webkit-border-radius: 5px ;
	        border-radius: 5px ;

}


										/* dop button orphans */

										/* sled help i t.d */
										
.n250{
	background-color: #330628;
	color:#fdd700;
	text-align:center;
	width:100px;
	height: 40px;
	border:2px solid #9225D8;
	-webkit-border-radius: 5px ;
	        border-radius: 5px ;
	line-height: 35px;
	font-size: 16px;
	margin-left: 180px;

}

.n251{
	background-color: #330628;
	color:#fdd700;
	text-align:center;
	width:100px;
	height: 40px;
	border:2px solid #9225D8;
	-webkit-border-radius: 5px ;
	        border-radius: 5px ;
	line-height: 35px;
	font-size: 16px;
	margin-left: 5px;
}

.n252{
	background-color: #330628;
	color:#fdd700;
	text-align:center;
	width:100px;
	height: 40px;
	border:2px solid #9225D8;
	-webkit-border-radius: 5px ;
	        border-radius: 5px ;
	line-height: 35px;
	font-size: 16px;
	margin-left: 5px;
}

.n253{
	background-color: #330628;
	color:#fdd700;
	text-align:center;
	width:100px;
	height: 40px;
	border:2px solid #9225D8;
	-webkit-border-radius: 5px ;
	        border-radius: 5px ;
	line-height: 35px;
	font-size: 16px;
	margin-left: 5px;
}



										/* sled help i t.d */

										/* shirina i visota div yacheiki */

.i{
	width:50px;
	height:50px;
}
										/* shirina i visota div yacheiki */


										